[user]
  name = David Brenneman
  email = db@davidbrenneman.com

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  l = log --pretty=oneline -n 20 --graph
  s = status -s
  d = diff --patch-with-stat
  p = !"git pull; git submodule foreach git pull origin main"
  c = clone --recursive
  ca = !git add . && git add -u && git commit -a
  go = checkout -B
  undopush = push -f origin HEAD^:main

[apply]
  whitespace = fix

[core]
  excludesfile = ~/.config/git/ignore
  whitespace = space-before-tab,indent-with-non-tab,trailing-space
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  true-color = always
  syntax-theme = Catppuccin Macchiato

[merge]
  conflictstyle = diff3
  log = true

[diff]
  colorMoved = default

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[branch "main"]
  remote = origin
  merge = refs/heads/main

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[push]
  default = simple

[init]
  defaultBranch = main

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[include]
  path = ~/.gitconfig.local
